name: Gerar Links Amigo Oculto

on: workflow_dispatch

jobs:
  sorteio:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Rodar Sorteio
        run: python sorteio.py
